{% load static %}{% load widget_tweaks %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Instagram full-size photos</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}" />
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
</head>

<body>
    <nav id="navbar-form" class="navbar navbar-toggleable-md navbar-collapse navbar-inverse fixed-top bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'index' %}">ifphotos</a>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link about" href="#"><img src="{% static 'img/info.png' %}"></a>
                </li>
                <li class="nav-item">
                    <form class="form-inline username-form" method="POST" action="/">
                        {% csrf_token %} {% render_field form.username class="form-control mr-sm-2" placeholder='instagram username' %}
                        <button class="btn btn-success my-2 my-sm-0 custom-button" type="submit">Get photos</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6 custom-container">
                <div class="content-container">
                    <p class="h2 custom-font">Download full-size photos from public Instagram accounts!</p>
                    <p class="lead custom-font">1) Insert a name in the navigation bar form</p>
                    <p class="lead custom-font">2) Get photos!</p>
                </div>
            </div>
            <div class="col-lg-3 arrow-container"><img src=" {% static 'img/arrow.png' %}"></div>
        </div>
    </div>
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>

</html>