{% load static %}
<div class="result-container">
    <h2 class="result-name">Information</h2>
    <h4 class="text-secondary result-info">This application uses public Instagram api due to limits for getting private token</h4>
    <h4 class="text-secondary result-info">That's the reason why you can only get a last twelve photos from user account</h4>
    <h4 class="text-secondary result-info">It might be updated in a future</h4>
    <h2 class="result-name">Contacts</h2>
    <h4 class="text-secondary result-info"><img src="{% static 'img/telegram.png' %}"><a href="https://telegram.me/torenspb" class="about-link">Sergey</a></h4>
</div>